{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block titulo %}Permisos Retribuidos{% endblock titulo %}




    <!--------------------------------------------------------------------->
      <!--------------------------------------------------------------------->
      <div class="main">
        <!---------GRID COLUM 1/2-->
      <div class="main-primero"> 1</div>

      {% block content %}
        <!---GRID 2/10.COLUMN.........-->
        <div class="articulo"> 
<!--------------------------------------------------------------------->
<div class="container-reuniones">
  <h1> {% trans 'Permisos Retribuidos' %}</h1>

  <div class="reuniones-resumen">
  {% for permiso in permisos %}
  <div class="reuniones-uno">
 
  <h2>{{ permiso.title }}</h2>
  <h3><em>{{ permiso.published }}</em></h3>
  <p>{{ permiso.description }}</p>
  <a href="{{ permiso.download.url }}">{% trans 'VISUALIZAR' %}</a>
<em><strong><a href="{{permiso.download.url }}" download>{% trans 'Descargar' %}</a></strong></em>
</div>
  {% endfor %}
</div>
</div>
  <!--------------------------------------------------------------------->
 
   

 



     </div>
    {% endblock content %}
    <!---DIV DEL ARTICULO----------------->

</div>


   <!--FIN DIV DEL MAIN------->
         