{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block titulo %}Seguridad y Salud, Prevencion y Medio Ambiente{% endblock titulo %}




    <!--------------------------------------------------------------------->
      <!--------------------------------------------------------------------->
      <div class="main">
        <!---------GRID COLUM 1/2-->
      <div class="main-primero"> 1</div>

      {% block content %}
        <!---GRID 2/10.COLUMN.........-->
        <div class="articulo"> 
<!--------------------------------------------------------------------->
<div class="container-reuniones">
<h1> {% trans 'Seguridad y Salud' %}</h1>
<h1> {% trans 'Prevencion y Medio Ambiente' %}</h1>

<div class="reuniones-resumen">

{% for prevencion in prevenciones %}
<div class="reuniones-uno">
<h2>{{ prevencion.title }}</h2>
<h3><em>{{ prevencion.published }}</em></h3>
<p>{{ prevencion.description }}</p>
<a href="{{ prevencion.download.url }}">{% trans 'VISUALIZAR' %}</a>

</em></strong><a href="{{ prevencion.download.url }}" download>{% trans 'Descargar' %}</a></strong></em>
</div>
{% endfor %}
</div>
</div>
  <!--------------------------------------------------------------------->
 
   

 



     </div>
    {% endblock content %}
    <!---DIV DEL ARTICULO----------------->

</div>


   <!--FIN DIV DEL MAIN------->
         